.container-europe,
.container-asia,
.container-asia2 {
    display: grid;
    width:100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1.5fr;
}
h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: left;
}
p {
    text-align: justify;
}

#europe-txt,
#asia-txt,
#asia2-txt {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:2;

    place-self:center;
}
#europe,
#asia,
#asia2 {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:5;
}